<ion-list>
  <ion-item text-wrap>
    <h2>Time-line dos eventos</h2>
  </ion-item>
  <ion-item text-wrap>
    <div class="timeline">
      <div class="entry" *ngFor="let monitoramento of atividade.monitoramentos">
        <div class="title">
          <h3>{{ monitoramento.date | date: 'HH:mm' }}</h3>
        </div>
        <div class="body">
          <p>Status</p>
          <ul>
            <li>{{ monitoramento.status }}</li>
          </ul>
        </div>
      </div>
    </div>

  </ion-item>
</ion-list>

