<form [formGroup]="form">

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Retornar ao Local?</ion-label>
          <ion-select formControlName="motivo_retorno" cancelText="Cancelar">
            <ion-option *ngFor="let motivo of motivos" [value]="motivo"> {{ motivo }} </ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

    <ion-card>
      <ion-card-content >
        <ion-item text-wrap>
          <ion-label color="primary" stacked>Resumo do atendimento</ion-label>
          <ion-textarea
            formControlName="resumo_atendimento"
            placeholder="Digite o resumo do atendimento..."
            rows="7" cols="10"
          >
          </ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>
</form>
