
<ion-header>

  <ion-toolbar color="primary">

    <button ion-button icon-only menuToggle (click)="close()">
      <ion-icon name="md-arrow-back"></ion-icon>
    </button>

    <ion-buttons end>
      <button ion-button icon-only color="more">
        <ion-icon name="ios-more"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
  <div class="buttons">
    <h1>{{ pageType?.name }}</h1>
    <button
      *ngFor="let button of pageType?.props"
      (click)="presentPopover(button)"
      ion-button class="km-steps"
      color="primary"
    >
      {{ button?.buttonName }}
    </button>
  </div>
</ion-header>

<ion-content>
  <time-line></time-line>
</ion-content>
