<ion-header>
  <ion-navbar color="primary">
    <ion-title>Fotos do Atendimento</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h2>Início do Atendimento</h2>
  <div class="photos">
    <ion-avatar (click)="changePicture('inicio')" class="container" *ngFor="let photo of photosStart">
      <img src="{{photo.src}}" onerror="this.src='assets/imgs/img-default.png'" />
      <button ion-button color="primary" class="btn">
        <ion-icon name="md-images"></ion-icon>
      </button>
    </ion-avatar>
  </div>

  <h2>Fim do Atendimento</h2>
  <div class="photos">
    <ion-avatar (click)="changePicture('fim')" class="container" *ngFor="let photo of photosEnd">
      <img src="{{photo.src}}" onerror="this.src='assets/imgs/img-default.png'">
      <button ion-button color="primary" class="btn">
        <ion-icon name="md-images"></ion-icon>
      </button>
    </ion-avatar>

  </div>

</ion-content>
