<ion-card [formGroup]="retornoLocalForm">
  <ion-card-header>
    <ion-item>
      <ion-label> Retornará ao local ? </ion-label>
      <ion-toggle [(ngModel)]="showInput" [ngModelOptions]="{standalone: true}" (ionChange)="addRetorno()"></ion-toggle>
    </ion-item>
  </ion-card-header>

  <ion-card-content *ngIf="showInput">
    <ion-list>
      <ion-item>
        <ion-label>Motivo</ion-label>
        <ion-select formControlName="motivo_retorno" cancelText="Cancelar">
          <ion-option *ngFor="let motivo of motivos" [value]="motivo"> {{ motivo }} </ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

