<form [formGroup]="form">
    <ion-card-content>
      <div>
        <ion-item>
          <ion-label color="primary" stacked> CNPJ </ion-label>
          <ion-input formControlName="cnpj" type="number" placeholder="00.000.000/0000-00"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary" stacked> Razão Social </ion-label>
          <ion-input formControlName="razao_social" type="text" placeholder="REAL PONTO"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary" stacked> E-mail </ion-label>
          <ion-input formControlName="email" type="email" placeholder="exemplo@exemplo.com.br"></ion-input>
        </ion-item>
      </div>
    </ion-card-content>

    <ion-card-content>
      <ion-item>
        <ion-label> Adicionar Equipamentos que tiveram troca de peca </ion-label>
      </ion-item>

      <div>

        <equipamento-faturamento
          *ngFor="let equipamento of form.controls['equipamentos'].controls; index as i"
          [equipamentoForm]="equipamento"
          (removeEquipamentoEmitter)="removeEquipamento(i)"
        >
        </equipamento-faturamento>

        <ion-item text-right>
          <button ion-button outline only-icon (click)="addEquipamento()">
            <ion-icon name="add" large>Adicionar Equipamento</ion-icon>
          </button>
        </ion-item>
      </div>
    </ion-card-content>
</form>
