
<!-- info-cliente -->
 <ion-list>

    <ion-item no-lines class="top-item">
      <h3>Dados Cliente</h3>
    </ion-item>

    <ion-item text-wrap>
      <h4>{{ atividade.atendimento?.cliente.nome_razao_social | uppercase }}</h4>
      <p>{{ atividade.atendimento?.cliente.cnpj_cpf }}</p>
    </ion-item>

    <ion-item text-wrap>
      <h2>Contato</h2>
      <p *ngIf="atividade.atendimento?.contato.nome">{{ atividade.atendimento?.contato.nome }}</p>
      <p *ngIf="atividade.atendimento?.contato.telefone">{{ atividade.atendimento?.contato.telefone }}</p>
    </ion-item>

    <ion-item text-wrap>
      <h4>Endereço</h4>
      <p>
        {{ atividade.atendimento?.endereco.rua | uppercase }},
        <span *ngIf="atividade.atendimento?.endereco.numero !== 'NULL'">
          {{ atividade.atendimento?.endereco.numero }},
        </span>
        {{ atividade.atendimento?.endereco.bairro | uppercase }},
        {{ atividade.atendimento?.endereco.cidade | uppercase }} -
        {{ atividade.atendimento?.endereco.uf | uppercase }},
        {{ atividade.atendimento?.endereco.cep }}
      </p>
    </ion-item>

    <ion-item text-wrap *ngIf="atividade.atendimento?.endereco.ponto_referencia">
      <h4>Ponto de Referência</h4>
      <p>{{ atividade.atendimento?.endereco.ponto_referencia }}</p>
    </ion-item>

    <ion-item text-wrap *ngIf="atividade.atendimento?.estacionamento">
      <h4>Estacionamento</h4>
      <p>{{ atividade.atendimento?.estacionamento }}</p>
    </ion-item>

    <ion-item text-wrap *ngIf="atividade.atendimento?.observacao" no-lines>
      <h4>Observação do chamado</h4>
      <p>{{ atividade.atendimento?.observacao }}</p>
    </ion-item>

      <hr>
      <br>
      <ion-item no-lines>
        <h3>Dados do Chamado</h3>
      </ion-item>

      <ion-item text-wrap>
        <h4>Aberto Por:</h4>
        <p>{{ atividade.atendimento?.createdBy | uppercase }}</p>
      </ion-item>

      <ion-item>
        <h4>Tipo de Serviço</h4>
        <p>
          {{ atividade.atendimento?.tipo }}
          <span *ngIf="atividade.atendimento?.garantia">
            - {{ atividade.atendimento?.garantia | date: 'dd/MM/yyyy' }}
          </span>
          <span *ngIf="atividade.atendimento?.valor">
            - R$ {{ atividade.atendimento?.valor }}
          </span>
          <span *ngIf="atividade.atendimento?.autorizado">
            - {{ atividade.atendimento?.autorizado | uppercase }}
          </span>
        </p>
      </ion-item>


      <ion-item text-wrap>
        <h4>Modelo do equipamento</h4>
        <p>
          {{ atividade.atendimento?.modelo_equipamento }}
          <span *ngIf="atividade.atendimento?.numero_equipamento">
            - N.º {{ atividade.atendimento?.numero_equipamento }}
          </span>
        </p>
      </ion-item>

      <ion-item text-wrap>
        <h4>Descrição do chamado</h4>
        <p>{{ atividade.atendimento?.descricao }}</p>
      </ion-item>

      <ion-item text-wrap>
        <h4>Testes efetuados</h4>
        <p>{{atividade.atendimento?.testes_efetuados}}</p>
      </ion-item>

    </ion-list>
  <!-- info-atendimento -->
  <hr>

  <ion-list *ngIf='atividade.atendimento.relatorio'>

      <ion-item no-lines class="top-item">
        <h1>Dados Preenchido pelo Técnico</h1>
      </ion-item>

       <ion-item text-wrap *ngIf="atividade.atendimento.relatorio?.resumo_atendimento">
        <h2>Relatório do atendimento</h2>
        <p>{{ atividade.atendimento.relatorio?.resumo_atendimento }}</p>
      </ion-item>

      <ion-item text-wrap *ngIf="atividade.atendimento.relatorio?.motivo_retorno">
        <h2>Retorna ao Local?</h2>
        <p>{{ atividade.atendimento.relatorio?.motivo_retorno }}</p>
      </ion-item>

      <ion-item text-wrap *ngIf="atividade.atendimento.relatorio?.treinamento?.software">
        <h2>Treinamento Software {{ atividade.atendimento.relatorio?.treinamento?.software }} </h2>
        <hr>
        <h3>Os tópicos ensinado no treinamento</h3>
        <ul>
          <li *ngFor="let topico of atividade.atendimento.relatorio?.treinamento?.topicos">{{ topico }}</li>
        </ul>
      </ion-item>

      <ion-item text-wrap *ngIf="atividade.atendimento.relatorio?.equipamentos_retirados.length > 0">
        <h2>Equipamento(s) retirado(s)</h2>
        <hr>
        <div *ngFor="let equipamento of atividade.atendimento.relatorio?.equipamentos_retirados">
          <p><strong>{{ equipamento?.modelo_equipamento }} N. {{ equipamento?.numero_equipamento }}</strong></p>
          <hr>
          <h5>Itens retirado</h5>

          <ul>
            <li *ngFor="let item of equipamento?.itens"> {{ item.descricao }} - {{ item.quantidade }} un</li>
          </ul>
        </div>
      </ion-item>

      <ion-item text-wrap *ngIf="atividade.atendimento.relatorio?.faturamento?.modelo_equipamento">
        <h2>Dados de Faturamento</h2>
        <hr>
        <p *ngIf="atividade.atendimento.relatorio?.faturamento.cnpj">Cnpj: {{ atividade.atendimento.relatorio?.faturamento.cnpj }}</p>
        <p *ngIf="atividade.atendimento.relatorio?.faturamento.razao_social">Razão Social: {{ atividade.atendimento.relatorio?.faturamento.razao_social }}</p>
        <p *ngIf="atividade.atendimento.relatorio?.faturamento.email">Razão Social: {{ atividade.atendimento.relatorio?.faturamento.email }}</p>

        <div *ngFor="let equipamento of atividade.atendimento.relatorio?.faturamento.equipamentos">
          <p><strong>{{ equipamento?.modelo_equipamento }} N. {{ equipamento?.numero_equipamento }}</strong></p>
          <hr>
          <h5>Peça que foram utilizadas no reparo do equipamento de numero {{ equipamento?.numero_equipamento }}</h5>
          <ul>
            <li *ngFor="let peca of equipamento?.pecas"> {{ peca?.descricao}} - {{ peca?.quantidade}} un x R$  {{ peca?.preco}} = R$ {{ peca?.quantidade * peca?.preco } </li>
          </ul>
        </div>
      </ion-item>

</ion-list>

