  <ion-item (click)="openAtividadeDetail(Atividade?._id)">
    <ion-avatar item-start>
      <img src="assets/icon/company.svg">
    </ion-avatar>
    <h2>{{ Atividade?.cliente.nome_razao_social | uppercase }}</h2>
    <p>
      <ion-icon name="pin" color="primary"></ion-icon>
      {{ Atividade?.endereco.bairro | uppercase }},
      {{ Atividade?.endereco.cidade | uppercase }} -
      {{ Atividade?.endereco.uf | uppercase }},
      {{ Atividade?.endereco.cep | uppercase }}
    </p>
  </ion-item>
