atividade {
  background-color: transparent !important;
  .content-atividade {
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .image-activity {
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
  }

  .em-execucao {
    border-left: 3px solid #01ff70;
  }

  .pendente {
    border-left: 3px solid red;
  }

  .pausado {
    border-left: 3px solid #ffdc00;
  }

  .concluido {
    border-left: 3px solid #006cfc;
  }
    h2 {
      font-size: 0.9em !important;
      color: #333 !important;
      font-family: 'Open Sans', sans-serif !important;
    }
    p {
      color: #666 !important;
      font-family: 'Open Sans', sans-serif !important;
    }


  ion-label {
    padding-right: 20px;
    border: none !important;
  }

  ion-label.em-execucao {
    color: #008d3d;
  }

  ion-label.pendente {
    color: red;
  }

  ion-label.pausado {
    color: #c7ac00;
  }

  ion-label.concluido {
    color: #006cfc;
  }

  ion-item {
    background-color: transparent !important;
  }


  @media (min-width: 100px) and (max-width: 499px) {
      h2, p {
        font-size: 1em !important;
      }
  }

 @media (min-width: 500px) and (max-width: 2000px) {
      h2, p {
        font-size: 1.1em !important;
      }
  }
}
