atividade {
  ion-card {
    img {
      height: 40px;
      width: 40px;
    }
    h5 {
      color: #333 !important;
      font-family: 'Montserrat', sans-serif !important;
    }
    p {
      margin-top: 15px !important;
      color: #666 !important;
      font-family: 'Open Sans', sans-serif !important;
      line-height: 20px !important;
    }
  }
}
