<ion-header>

    <ion-navbar color="primary">
      <ion-title>{{ equipamentoSelecionado.descricao }} {{ model }} - {{ numberEquipments }}</ion-title>
    </ion-navbar>

  </ion-header>


  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <h4>{{ equipamentoSelecionado.descricao }} {{ model }} - {{ numberEquipments }}</h4>
        </ion-col>
        <ion-col col-6>
          <div class="photo">
            <img src="/assets/imgs/equipamentos/relogios/{{ equipamentoSelecionado.foto }}" alt="">
          </div>
        </ion-col>
        <ion-col col-6>
          <div class="number-equipments">
            <label for="">N. Serie</label>
            <input type="text" [(ngModel)]="numberEquipments">
          </div>
          <p>Modelo:</p>
          <div class="models-equipament">
            <ion-row>
              <ion-col col-2  *ngFor="let modelo of equipamentoSelecionado.modelos">
                <button class="model"
                (click)="setModelEquipments(modelo)">{{ modelo }}</button>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>

        <ion-col col-12>
          <div class="input-text-equipments">
            <label for="">Problema</label>
            <input type="text">
          </div>
          <div class="input-text-equipments">
            <label for="">Testes Efetuados</label>
            <input type="text">
          </div>
        </ion-col>

        <ion-col col-12 *ngIf="equipamentoSelecionado.pecas.length > 0">
          <div class="add-item">
            <h6>Itens</h6>
            <button class="btn" (click)="showCheckbox()">
              <ion-icon name="add"></ion-icon>
            </button>
          </div>
        </ion-col>

        <div class="item">
          <ul>
            <li *ngFor="let peca of pecasSelecionadas">
               <div class="remove-item">
                  <div class="btn-remove">
                    <ion-icon name="close"></ion-icon>
                  </div>
                  <img src="/assets/imgs/pecas/{{peca.foto}}">
               </div>
              <div>
                <p>{{peca.descricao}}</p>
              </div>
              <div class="quantity">
                <ion-icon name="remove" (click)="modifyQuantity(peca, 'remove')"></ion-icon>
                  un {{ peca.quantidade }}
                <ion-icon name="add" (click)="modifyQuantity(peca, 'add')"></ion-icon>
              </div>
              </li>
            </ul>
          </div>

      </ion-row>
    </ion-grid>
  </ion-content>
