<ion-header>
  <ion-navbar color="primary">
    <ion-title>Relatório do Técnico</ion-title>
  </ion-navbar>
  <div class="client-info">
    <h3>Digaspi comercio e Serviço de Relogio de Ponto</h3>
    <h5>10 mai 2017 terça</h5>
  </div>
  <br/>

  <br/>

  <ul class="form-menu">
    <li [class.active]="activeFormIndex === 0" (click)="handleFormMenuClick(0)">
      Treinamento &nbsp; <ion-icon name="md-checkmark"></ion-icon>
    </li>
    <li [class.active]="activeFormIndex === 1" (click)="handleFormMenuClick(1)">
      Retirar Equipamento &nbsp; <ion-icon name="md-checkmark"></ion-icon>
    </li>
    <li [class.active]="activeFormIndex === 2" (click)="handleFormMenuClick(2)">
      Faturamento &nbsp; <ion-icon name="md-checkmark"></ion-icon>
    </li>
    <li [class.active]="activeFormIndex === 3" (click)="handleFormMenuClick(3)">
      Resumo &nbsp; <ion-icon name="md-checkmark"></ion-icon>
    </li>
  </ul>
 </ion-header>
<ion-content>
  <div class="forms-content">
    <div class="form-slides">
        <ion-slides (ionSlideDidChange)='ionSlideDidChange()' pager paginationType="progress">
            <ion-slide>
              <form-treinamento
                *ngIf="activeFormIndex === 0"
                [initialData]="treinamentoData"
                (change)="formChange($event)">
              </form-treinamento>
            </ion-slide>
            <ion-slide>
              <form-equipamentos-retirados
                *ngIf="activeFormIndex === 1"
                [initialData]="equipamentosRetiradosData"
                (change)="formChange($event)">
              </form-equipamentos-retirados>
            </ion-slide>
            <ion-slide>
              <form-faturamento
                *ngIf="activeFormIndex === 2"
                [initialData]="faturamentoData"
                (change)="formChange($event)">
              </form-faturamento>
            </ion-slide>
            <ion-slide>
              <form-resumo
                *ngIf="activeFormIndex === 3"
                [initialData]="resumoData"
                (change)="formChange($event)">
              </form-resumo>
            </ion-slide>
          </ion-slides>
    </div>
    <div class="action-buttons">
      <button ion-button icon-left *ngIf="!beginning" (click)='previous()'>
        <ion-icon name="arrow-round-back"></ion-icon>
        Salvar e Voltar
      </button>
      <button ion-button icon-right *ngIf="!end" (click)='next()'>
          Salvar e Proseguir
          <ion-icon name="arrow-round-forward"></ion-icon>
      </button>
    </div>
  </div>
</ion-content>
