page-relatorio {

  .form-menu {
    display: flex;
    max-height: 150px;
    justify-content: space-around;
    align-items: center;
    margin-top: 0px;

    li {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.4em;
      list-style: none;
      justify-content: center;
      text-align: center;
      padding: 2px;
      color: white;
    }

    li ion-icon {
      color: #40B0EC;
      text-shadow: none;
    }

    .active ion-icon {
      color: #9CFF90;
      text-shadow: 0 0 10px #31ED68, 0 0 5px green;
      font-weight: 800;
    }
    .active {
      // background-color: color($colors, primary);
    }
  }

  .slide-zoom {
    margin-top: 4%;
    padding: 10px;
    overflow-y: auto;
    height: 100%;
  }

  .forms-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100vh - 150px);
  }

  .form-slides {
    flex: 1;
  }

  .action-buttons {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  ion-header {
    background: #40B0EC;
  }
  .client-info {
    color: #fff;
    padding: 16px;
  }
  .client-info h5  {
    color: #eee;
  }

  .step ion-icon {
    height: 35px;
    width: 35px;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 1.5em;
  }

}
