<ion-header>
  <navbar [titlePage]='title' (refreshLoading)="eventRefresh()">
    <ion-icon name="add">
    </ion-icon>
  </navbar>
</ion-header>

<ion-content>
    <ion-list-header> <h3>Em Execução</h3></ion-list-header>
    <ion-list>
      <atividade *ngFor="let atividade of atividades$ | async" [Atividade]="atividade"></atividade>
    </ion-list>

    <ion-list-header> <h3>Em Execução</h3></ion-list-header>
    <ion-list>
      <atividade *ngFor="let atividade of atividades$ | async" [Atividade]="atividade"></atividade>
    </ion-list>

    <ion-list-header> <h3>Em Execução</h3></ion-list-header>
    <ion-list>
      <atividade *ngFor="let atividade of atividades$ | async" [Atividade]="atividade"></atividade>
    </ion-list>
    <fab-button (actionButton)="presentPopover()" [iconName]="fabIcon"></fab-button>
</ion-content>
