<ion-header>
  <navbar [titlePage]='title' (refreshLoading)="eventRefresh()">
    <ion-icon name="add">
    </ion-icon>
  </navbar>
  <ion-toolbar color="white">
    <ion-segment [(ngModel)]="segmentRoot" (ionChange)="eventRefresh()">
      <ion-segment-button class="chamado-segment" badge="3" badgeStyle="danger" value="pendentes">
        pendentes
      </ion-segment-button>
      <ion-segment-button class="chamado-segment" value="em-execucao">
        em execução
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="segmentRoot">
    <ion-list>
      <atividade *ngFor="let atividade of atividades$ | async" [Atividade]="atividade"></atividade>
    </ion-list>
  </div>
 <fab-button></fab-button>
</ion-content>

