 <ion-card [formGroup]="remocaoEquipamentoForm">
  <ion-card-header>
    <ion-item>
      <ion-label> Houve remoção de equipamento ?</ion-label>
      <ion-toggle [(ngModel)]="showInput" [ngModelOptions]="{standalone: true}" (ionChange)="addEquipamento()"></ion-toggle>
    </ion-item>
  </ion-card-header>

  <ion-item-divider></ion-item-divider>

  <ion-card-content *ngIf="showInput">

    <equipamento
      *ngFor="let equipamento of remocaoEquipamentoForm.controls; index as i"
      [equipamentoForm]="equipamento"
      (removeEquipamentoEmitter)="removeEquipamento(i)"
    >
    </equipamento>

    <ion-item text-right>
      <button ion-button outline only-icon (click)="addEquipamento()">
        <ion-icon name="add" large> Adicionar Equipamento</ion-icon>
      </button>
    </ion-item>

  </ion-card-content>
</ion-card>
