 <ion-card [formGroup]="remocaoEquipamentoForm">
  <ion-card-header>
    <ion-item>
      <ion-label> Houve remoção de equipamento ?</ion-label>
      <ion-toggle [(ngModel)]="showInput" [ngModelOptions]="{standalone: true}"></ion-toggle>
    </ion-item>
  </ion-card-header>

  <ion-item-divider></ion-item-divider>

  <ion-card-content *ngIf="showInput">
    <equipamento
      *ngFor="let equipamento of remocaoEquipamentoForm.controls; index as i"
      [equipamentoForm]="equipamento"
    >
    </equipamento>

  </ion-card-content>
</ion-card>
