atividades {
  ion-content {
    ion-toolbar {
      padding: 0 !important;
      margin: 0 !important;
      ion-segment {
        ion-segment-button {
          padding: 0 !important;
          margin-bottom: -10px !important;
        }
      }
    }
  }
}
