<ion-card>
  <ion-card-header>
    <ion-item>
      <ion-label> Houve treinamento ?</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-label>Topicos</ion-label>
      <ion-select multiple="true" cancelText="Cancelar">
        <ion-option> topicos </ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Software</ion-label>
      <ion-select cancelText="Cancelar">
        <ion-option> softwares </ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked> Caminho da rede </ion-label>
      <ion-input type="text" placeholder="Digite o caminho da rede."></ion-input>
    </ion-item>
  </ion-card-content>
</ion-card>
