<ion-header>
  <h1>Dados do Cliente</h1>
</ion-header>

  <ion-list [formGroup]="responsavelForm" text-center>
    <ion-item>
      <ion-label stacked color="primary">Nome Completo</ion-label>
      <ion-input formControlName="nome" placeholder="Insira o nome!"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked color="primary">RG/CPF</ion-label>
      <ion-input formControlName="documento_id" placeholder="Insira o rg/cpf!"></ion-input>
    </ion-item>
  </ion-list>

 <ion-footer>
  <ion-buttons end>
    <button ion-button large color="primary" (click)="close()"clear>cancelar</button>
    <button ion-button large color="primary" (click)="openAssinatura(responsavelForm.valid, responsavelForm.value)"clear>avaliar</button>
  </ion-buttons>
 </ion-footer>


