atividade-detail {
  h1, h2, h3, h4, h5 {
    color: #333 !important;
    font-family: 'Montserrat', sans-serif !important;
  }
  p {
    color: #666 !important;
    font-family: 'Open Sans', sans-serif !important;
    line-height: 20px !important;
  }
}
