atividade-detail {
  @import url('https://fonts.googleapis.com/css?family=Amatic+SC');
  background-color: #fefefe !important;
  h1, h2, h3, h4, h5 {
    color: #333 !important;
    font-family: 'Montserrat', sans-serif !important;
  }
  p {
    color: #666 !important;
    font-family: 'Open Sans', sans-serif !important;
    line-height: 20px !important;
  }
  ion-header{
    background-color: #FFFFFF !important;
    position: relative;
    height: 295px;
    background:
      url(http://www.giardinopollensa.com/wp-content/uploads/2013/06/blur1.jpg)
      no-repeat center center;
    background-size: cover;

    ion-navbar {
      box-shadow: 0 1px 8px #000;
    }

    .header-title {
      text-align: center;
      h1 {
        font-size: 80px !important;
        font-family: 'Amatic SC', cursive !important;
        color: #FFFFFF !important;
        width: 100%;
      }
    }
  }

  ion-content {
    background-color: #FFFFFF !important;
  }

  .actions {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
  }

  .action {
    text-align: center !important;
  }

  .photo {
    text-align: center !important;
    width: 80px;
    height: 80px;
    border-radius: 50px !important;
    box-shadow: 2px 2px rgb(216, 216, 216);
    padding: 15px;
    transition: 1s;
  }

  .photo:active {
    box-shadow: 2px 2px 15px rgb(34, 34, 34);
    background-color:  rgb(160, 160, 160);
  }

  ion-segment {
    background-color: #FFFFFF !important;
    margin-top: 14% !important;
  }

  ion-list {
    margin-top: 10% !important;
  }
  .atividade-info {
    margin-top: 25px;
    text-align: center;
  }
  .atividade-info img {
    width: 200px;
    height: 200px;
  }
  .atividade-info h3 {
    color: rgb(160, 160, 160);
    font-weight: bold;
  }
  button.action {
    background-color: transparent !important;
    border: none !important;
  }
}
