<ion-item-group [formGroup]="equipamentoForm">

  <ion-item>
    <button (click)="removeEquipamento()">text</button>
  </ion-item>

  <ion-item>
    <ion-label>Equipamento</ion-label>
    <ion-select cancelText="Cancelar" formControlName="modelo_equipamento" value="modelo_equipamento" (ionChange)="resetItemsForm()">
      <ion-option *ngFor="let equipamento of equipamentos" [value]="equipamento.modelo">{{ equipamento.modelo }}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label color="primary" stacked> Nº Equipamento </ion-label>
    <ion-input formControlName="numero_equipamento" type="number" placeholder="Digite o número do equipamento."></ion-input>
  </ion-item>

 <ion-item-group formArrayName="itens">
   <ion-item>
     <h2>Itens do equipamento</h2>
   </ion-item>
    <div *ngFor="let item of equipamentoForm.controls['itens'].controls; index as i">
      <div formGroupName="{{ i }}">
        <ion-item>
            <button (click)="removeItem(i)">Remover Item</button>
        </ion-item>
        <ion-item>
            <ion-label>Descrição</ion-label>
            <ion-select cancelText="Cancelar" formControlName="descricao">
              <ion-option *ngFor="let item of itensEquipamentoSelecionado" [value]="item">{{ item }}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label color="primary" stacked> Quantidade </ion-label>
            <ion-input formControlName="quantidade" type="number" ></ion-input>
          </ion-item>
      </div>
    </div>
 </ion-item-group>

  <ion-item text-center>
    <button ion-button clear only-icon (click)="addItem(equipamentoForm.controls['modelo_equipamento'].value)">
      <ion-icon name="add" large></ion-icon>
    </button>
  </ion-item>

</ion-item-group>
