ion-content {
  background: #f0f0f0 !important;
}

ion-menu {

  ion-list {
    background: none !important;
    button {
      margin: 5px !important;
    }
  }

  ion-content {
    background: white !important;
  }
}

ion-backdrop {
  opacity: 0.4;
  transition: background 0.3s ease-in-out !important;
}
