<ion-card [formGroup]="faturamentoForm">
  <ion-card-header>
    <ion-label> Faturamento </ion-label>

    <ion-item>
      <ion-label> Mesmo CNPJ? </ion-label>
      <ion-toggle [(ngModel)]="showInput" [ngModelOptions]="{standalone: true}"></ion-toggle>
    </ion-item>
  </ion-card-header>

  <ion-card-content *ngIf="showInput">

    <ion-item>
      <ion-label color="primary" stacked> CNPJ </ion-label>
      <ion-input formControlName="cnpj" type="number" placeholder="00.000.000/0000-00"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked> Razão Social </ion-label>
      <ion-input formControlName="razao_social" type="text" placeholder="REAL PONTO"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked> E-mail </ion-label>
      <ion-input formControlName="email" type="email" placeholder="exemplo@exemplo.com.br"></ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-label color="primary" stacked> Valor </ion-label>
      <ion-input type="number" placeholder="100,00"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked> Prazo de Pagamento </ion-label>
      <ion-input type="number"placeholder="3"  ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked> Quem aprovou </ion-label>
      <ion-input type="text" placeholder="ALAN"></ion-input>
    </ion-item> -->
  </ion-card-content>
</ion-card>
