<ion-card>
  <ion-card-header>
    <ion-item>
      <ion-label> Faturamento </ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
  </ion-card-header>

  <ion-card-content >
    <ion-item>
      <ion-label color="primary" stacked> CNPJ </ion-label>
      <ion-input type="number" placeholder="00.000.000/0000-00" value=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked> Razão Social </ion-label>
      <ion-input type="text" placeholder="REAL PONTO" value=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked> E-mail </ion-label>
      <ion-input type="email" placeholder="exemplo@exemplo.com.br" value=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked> Valor </ion-label>
      <ion-input type="number" placeholder="100,00" value=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked> Prazo de Pagamento </ion-label>
      <ion-input type="number"placeholder="3"  value="" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked> Quem aprovou </ion-label>
      <ion-input type="text" placeholder="ALAN" value=""></ion-input>
    </ion-item>
  </ion-card-content>
</ion-card>
