navbar {
  ion-navbar, div {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    button {
      color: white !important
    }
    ion-icon {
      font-size: 20px;
    }
  }

}

ion-toolbar {
  padding-top: 30px;
  ion-title {
    font-size: 20px;
  }
  .perfil {
    padding-left: 30px;
    .img-avatar {
      height: 60px !important;
      width: 60px !important;
      border-radius: 50px;
      -webkit-box-shadow: 1px 2px 16px 1px #1844AB;
      box-shadow: 1px 2px 16px 1px #1844AB;
    }
  }
}
