tool-bar-actions {
  .tools {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-top: 15px;
    background-color: #039EF2 !important;
  }
  .tool-item, p {
    ion-icon {
      font-size: 20px !important;
    }
    color: white !important;
  }
  .tool-item :hover {
    background: chocolate !important;
    opacity: 0.5;
  }
}
