<ion-header>
<ion-navbar color="primary">
  <ion-title> Almoço </ion-title>
</ion-navbar>

<div class="tools" color="primary">
  <div class="tool-item">
    <ion-icon name="ios-flag-outline"></ion-icon>
    <p>Km Inicial</p>
  </div>
  <div class="tool-item">
    <ion-icon name="ios-flag"></ion-icon>
    <p>Km Final</p>
  </div>
  <div class="tool-item">
    <ion-icon name="ios-play"></ion-icon>
    <p>Iniciar</p>
  </div>
  <div class="tool-item">
    <ion-icon name="ios-more"></ion-icon>
    <p>Mais</p>
  </div>
</div>
</ion-header>
