<ion-item-group class="collapse-list">

  <ion-list-header class="collapse-header" [class.active]="collapse" (click)="collapsed()">
    <ion-title> {{ title }} </ion-title>
    <ion-icon class="arrow-icon" name="ios-arrow-forward" item-end></ion-icon>
  </ion-list-header>

  <div class="collapse-content" [class.active]="collapse">
    <ion-list *ngIf="collapse" >
      <atividade *ngFor="let atividade of atividades" [Atividade]="atividade"></atividade>
    </ion-list>
  </div>

</ion-item-group>
