<div class="timeline">
  <div class="entry" *ngIf="atividade?.tipo === 'outros'">
      <div class="title">
        <h3>Evento</h3>
      </div>
      <div class="body">
        <p>Descrição</p>
        <ul>
          <li>{{ atividade?.descricao }}</li>
        </ul>
      </div>
    </div>

    <div class="entry">
      <div class="title">
        <h3>{{ atividade?.data_hora_inicial_km | date: 'HH:mm' }}</h3>
      </div>
      <div class="body">
        <p>Km Inicial</p>
        <ul>
          <li>{{ atividade?.km_inicial }} km</li>
        </ul>
      </div>
    </div>
    <div class="entry">
      <div class="title">
        <h3>{{ atividade?.data_hora_final_km | date: 'HH:mm' }}</h3>
      </div>
      <div class="body">
        <p>Km Final</p>
        <ul>
          <li>{{ atividade?.km_final }} km</li>
        </ul>
      </div>
    </div>
    <div class="entry">
      <div class="title">
        <h3>{{ atividade?.data_hora_inicial_virgente_local | date: 'HH:mm' }}</h3>
      </div>
      <div class="body">
        <p>Início da Atividade</p>
        <ul>
          <li>{{ atividade?.tipo | uppercase }}</li>
        </ul>
      </div>
    </div>
    <div class="entry">
      <div class="title">
        <h3>{{ atividade?.data_hora_final_virgente_local | date: 'HH:mm' }}</h3>
      </div>
      <div class="body">
        <p>Fim da Atividade</p>
        <ul>
          <li>{{ atividade?.tipo | uppercase }}</li>
        </ul>
      </div>
    </div>
  </div>
  <h3>5465465</h3>
